.leftsidebar{
    margin-top: 60px;
    width: 200px;
    background-color: aliceblue;
}
.leftsidebar span{
    margin-left: 0.5rem;
}
.leftsidebar img{
    border-radius: 50%;
    margin: 5px 2px ;
}
.leftsidebar div:hover{
    background-color: aqua;
    border: 2px solid aqua;
    border-radius: 0.2rem;
    cursor: pointer;
}